			<h3>华宇·集藏用品专门店</h3>
			<ul class="category fix">
				<li><a href=""><dl><dt><%= image_tag "temp/stamp.png" %></dt><dd>集邮用品</dd></dl></a></li>
				<li><a href=""><dl><dt><%= image_tag "temp/coin.png" %></dt><dd>集币用品</dd></dl></a></li>
			</ul>
			<div class="goodsList">
				<h4><em>集邮用品：</em><strong>全部</strong><a href="">定位册</a><a href="">活页册</a><a href="">插册</a><a href="">护邮用品</a><a href="">镊子放大镜等工具</a></h4>
				<ul class="fix">
					<% @products.each_with_index do |product,index| %>
					<% index += 1%>
					<li class='<%= index%3 == 0 ? "last" : nil %>'>
						<dl>
							<dt><%= link_to image_tag("temp/bid_item.jpg"), product %></dt>
							<dd>
								<p><%= link_to product.name, product %></p>
								<p><strong><%= product.price %></strong></p>
								<p class="tac"><button type="button">立即购买</button><%= link_to '加入购物车', carts_path(pid: product.id, pcount: 1), method: 'post' %></p>
							</dd>
						</dl>
					</li>
					<% end %>
				</ul>
			</div>