			<div class="goodsList">
				<h4 class="child_category" style="display:block">
					<%= cat_title(@p_category) %>
					<% @ch_categories.each do |c_cat| %>
					    <%= c_cat_title(c_cat) %>
					<% end %>
				</h4>
				<ul class="fix">
					<% @products.each_with_index do |product,index| %>
					<% index += 1%>
					<li class='<%= index%3 == 0 ? "last" : nil %>'>
						<dl>
							<dt><%= link_to image_tag(product.product_picture.avatar.url(:medium,false)), product, :class => "dddd" if product.product_picture %></dt>
							<dd>
								<p><%= link_to product.name, product %></p>
								<p><strong><%= product.price %></strong></p>
								<p class="tac"><%= link_to '<button class="addToShop" type="button">立即购买</button>'.html_safe, carts_path(pid: product.id, pcount: 1), method: "post", :class => "addButton" %></p>
							</dd>
						</dl>
					</li>
					<% end %>
				</ul>
			</div>


