	<div class="all">
		<div class="fr">
			<div class="shoppingCart">
				<%= render "layouts/shopping_cart" %>
			</div>
		</div>
		<main class="fix">
			<h3>华宇·集藏用品专门店</h3>
			<ul class="category fix">
				<% @p_categories.each do |p_cat| %>
				  <li><a href="<%= root_path(:p1 => p_cat.id)%>" class='<%= params[:p1] == "#{p_cat.id}" ? "current" : nil %>' ><dl><dt><%= image_tag p_cat.name.include?('集邮') ? "temp/stamp.png" : "temp/coin.png" %></dt><dd><%= p_cat.name %></dd></dl></a></li>
				<% end %>
			</ul>
			<div class="goodsList">
				<h4 class="child_category" style="display:block">
					<%= cat_title(@p_category) %>
					<% @ch_categories.each do |c_cat| %>
					    <%= c_cat_title(c_cat) %>
					<% end %>
				</h4>
				<ul class="fix">
					
					<% @products.each_with_index do |product,index| %>
					<% index += 1%>
					<li class='<%= index%3 == 0 ? "last" : nil %>'>
						<dl>
							<dt><%= link_to image_tag(product.product_picture.avatar.url(:medium,false)), product, :class => "dddd" if product.product_picture %></dt>
							<dd>
								<p><%= link_to truncate(product.name, length: 20), product, title: product.name %></p>
								<p><strong><%= product.price %></strong></p>
								<p class="tac"><%= link_to '<button class="addToShop" type="button">立即购买</button>'.html_safe, carts_path(pid: product.id, pcount: 1), method: "post", :class => "addButton" %></p>
							</dd>
						</dl>
					</li>
					<% end %>
				</ul>
			</div>
		</main>
	</div>


