			<script type="text/javascript">
			$(function(){
				$('.zoom_image').zoom({
					url: $('.zoom_image').find('img:first').attr('src').replace('large','big')
				});
				$('.picList').on('mouseover','li',function(){
					$(".selected").attr('class', 'noneSelect');
					$(this).attr('class','selected');
					$('.zoom_image').find('img:first').attr({src: $(this).find('img:first').attr('src').replace('thumb','large')});
					$('.zoom_image').find('img:last').attr({src: $(this).find('img:first').attr('src').replace('thumb','big')});
				});
			});
			</script>
			<div class="goodsDetail fix">
				<div class="goodsPic">
					<table><tr><td><span class="zoom_image"><%= image_tag(@product.product_picture.avatar.url(:large,false)) %></span></td></tr></table>
					<ul class="picList fix">
						<% @product.product_pictures.each_with_index do |pp,index| %>
						  <li class='<%= index == 0 ? "selected" : "noneSelect" %>'><%= link_to image_tag(pp.avatar.url(:thumb,false)), pp.avatar.url, :target => "blank", :title => "点击查看详细大图" %></li>
						<% end %>
					</ul>
				</div>
				<div class="goodsInfo">
					<h4><%= @product.name %></h4>
					<p class="f14 red"><%= @product.price %><%= link_to '<button class="addToShop" type="button">添加到购物车</button>'.html_safe, carts_path(pid: @product.id, pcount: 1), method: "post", :class => "addButton" %></p>
					<p><a href="">率先评论此产品</a></p>
					<p>预计发货时间：24 小时内</p>
					<p><%= image_tag "temp/sina.gif" %></p>
				</div>
			</div>
			<div class="goodsAttached fix">
				<div class="attachMenu"><a href="">产品信息</a><a href="">评级与评论<em>（10）</em></a><a class="lastBorder" href="">问答<em>（10）</em></a></div>
				<h5>产品信息</h5>
				<dl class="fix">
					<dt>概述</dt>
					<dd>Crumpler Flock of Horror 单肩包可在任何天气条件下保持 MacBook Pro 和 iPad 的安全。这个挎包式单肩包由重型 900D 聚酯制作而成，并具备防水涂层。内部有为 13 英寸 MacBook Pro 精心设置的特殊位置以及为 iPad 设置的独立柔软衬垫口袋。 </dd>
				</dl>
				<dl class="fix">
					<dt>亮点</dt>
					<dd>
						<p>四个存储区</p>
						<p>可容纳 13 英寸 Macbook Pro</p>
						<p>外部拉链式 iPad 袋</p>
						<p>防水 900D 外面料</p>
						<p>防水 iPhone 袋</p>
						<p>可拆卸式肩垫</p>
					</dd>
				</dl>
				<div class="shadow"></div>
				<h5>评级与评论</h5>
				<dl class="fix">
					<dt><a href="">率先评论此产品</a></dt>
				</dl>
			</div>
			<div class="goodsList">
				<h4 class="tac"><em>客户还购买了</em></h4>
				<ul class="fix">
					<li>
						<dl>
							<dt><a href=""><%= image_tag "temp/bid_item.jpg" %></a></dt>
							<dd>
								<p><a href="">这里是商品名称这里是商品名称这里是商品名称这里是商品名称</a></p>
								<p><strong>¥ 1,900,2900.00</strong></p>
								<p class="tac"><button type="button">立即购买</button></p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href=""><%= image_tag "temp/bid_item.jpg" %></a></dt>
							<dd>
								<p><a href="">这里是商品名称这里是商品名称这里是商品名称这里是商品名称</a></p>
								<p><strong>¥ 1,900,2900.00</strong></p>
								<p class="tac"><button type="button">立即购买</button></p>
							</dd>
						</dl>
					</li>
					<li class="last">
						<dl>
							<dt><a href=""><%= image_tag "temp/bid_item.jpg" %></a></dt>
							<dd>
								<p><a href="">这里是商品名称这里是商品名称这里是商品名称这里是商品名称</a></p>
								<p><strong>¥ 1,900,2900.00</strong></p>
								<p class="tac"><button type="button">立即购买</button></p>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</main>
	</div>