<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7, IE=9, chrome=1">
	<meta http-equiv="x-dns-prefetch-control" content="on">
	<meta name="keywords" content="邮品,邮票,钱币,纸钞,金银币,邮币卡,收藏品,艺术品,投资,邮票价格行情,钱币价格行情,纸钞价格行情,艺术品网络拍卖,艺术品网拍,现场拍卖,在线拍卖">
	<meta name="description" content="中国首家同时拥有现场拍卖与在线拍卖的专业艺术品拍卖公司，是在线拍卖市场创新的领头羊。业务涵盖：邮票、钱币、纸钞、中国书画等。">
	<meta name="copyright" content="华宇拍卖">
	<title><%= yield(:title).blank? ? '华宇商城 -上海华宇拍卖有限公司' : yield(:title) %></title>
	<link href="http://www.huabid.com/" rel="dns-prefetch">
	<link href="http://www.google-analytics.com/" rel="dns-prefetch">
	<link href="/assets/favicon.ico" rel="shortcut icon">
	<%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
	<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<![endif]-->
</head>

<!--=== *** 重要：未换行和换行的部分都请保持原状，否则会引起IE浏览器的布局差异！ *** ===-->
<body class="shop">
	<header>
		<div id="topNav">
			<div class="all fix">
				<div id="logo"><a href=""></a></div>
				<ul class="fix">
					<li><a href="">在线拍卖</a></li>
					<li><a href="">现场拍卖</a></li>
					<li class="current"><%= link_to "商城", root_path %></li>
					<li><a href="">求售</a></li>
					<li><a href="">社区</a></li>
				</ul>
				<div id="search"><input type="search" placeholder="输入拍品编号或名称"><button type="submit">搜索</button></div>
				<div class="link"><a href="">登录</a>&middot;<a href="">注册</a>&middot;<a href="">帮助</a></div>
			</div>
		</div>
		<nav>
			<div class="all fix">
				<div class="announcement">
					<a href="">首页公告位置首页公告位置</a>
				</div>
			</div>
		</nav>
	</header>
	<div class="all">
		<div class="fr">
			<div class="shoppingCart">
				<%= render "layouts/shopping_cart" %>
			</div>
		</div>
		<main class="fix">
			<h3>华宇·集藏用品专门店</h3>
			<ul class="category fix">
				<% @p_categories.each do |p_cat| %>
				  <li><a href="<%= root_path(:p1 => p_cat.id)%>" class='<%= params[:p1] == "#{p_cat.id}" ? "current" : nil %>' ><dl><dt><%= image_tag p_cat.name.include?('集邮') ? "temp/stamp.png" : "temp/coin.png" %></dt><dd><%= p_cat.name %></dd></dl></a></li>
				<% end %>
			</ul>

			<%= yield %>
		</main>
	</div>
	<footer>
		<div class="all">
			<p class="link"><a href="">关于我们</a><a href="">业务团队</a><a href="">诚聘英才</a><a href="">联系我们</a><a href="">交通指南</a><a href="">帮助中心</a><a href="">友情链接</a></p>
			<p>400客户服务热线：<em>400-836-1788</em>　　Copyright &copy; HuaBid 2012 - 2013 • All rights reserved • 沪ICP备11050421</p>
			<p><a href="">华夏收藏</a><span>|</span><a href="">2345</a><span>|</span><a href="">易收藏</a><span>|</span><a href="">东方收藏</a><span>|</span><a href="">东方财富</a></p>
		</div>
	</footer>
	<script>
		$(function(){
			$(".shoppingCart").hover(function(){$(".cartList").show();}, function(){$(".cartList").hide();});
			$(window).scroll(function(){
				if($(this).scrollTop()>124){
					$(".shoppingCart").css({"position": "fixed", "top": "0"});
				}else{
					$(".shoppingCart").css({"position": "absolute", "top": "4px"});
				}
			});
		});
	</script>
</body>
</html>